{
    email h-adji_tech@proton.me
}

(cf_tls) {
    tls {
            dns cloudflare {env.CF_TOKEN}
    }
}

*.hadji.org {
    import cf_tls
}

health.hadji.org {
    respond "all good"
}

task.hadji.org {
    reverse_proxy taskchampion:8080
}

grafana.hadji.org {
    reverse_proxy grafana:3000
}

adguard-setup.hadji.org {
    reverse_proxy adguard:3000
}

adguard-dashboard.hadji.org {
    reverse_proxy adguard:80
}

doh.hadji.org {
    reverse_proxy adguard:8443 {
            header_up Host {http.request.host}
        }
        log {
            output stdout
            format console
        }
}
