{
    email h-adji_tech@proton.me
}

(cf_tls) {
    tls {
            dns cloudflare {env.CF_TOKEN}
    }
}

*.hadji.org {
    import cf_tls
}

health.hadji.org {
    respond "all good"
}

task.hadji.org {
    reverse_proxy taskchampion:8080
}

grafana.hadji.org {
    reverse_proxy grafana:3000
}

setup.adguard.hadji.org {
    reverse_proxy adguard:3000
    import cf_tls
}

dashboard.adguard.hadji.org {
    reverse_proxy adguard:80
    import cf_tls
}
