{
    email h-adji_tech@proton.me
}

(cf_tls) {
    tls {
            dns cloudflare {env.CF_TOKEN}
    }
}

hadji.org {
    import cf_tls
    @setup_redirect {
        path /setup
        path /setup/
    }
    redir @setup_redirect https://h-adji.github.io/dotfiles/init.sh 301
}

*.hadji.org {
    import cf_tls
}

health.hadji.org {
    respond "all good"
}

task.hadji.org {
    reverse_proxy taskchampion:8080
}

grafana.hadji.org {
    reverse_proxy grafana:3000
}

