version: "3.9"

services:
  caddy:
    image: docker.io/caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data:/data
    networks:
      - proxy-root

networks:
  proxy-root:
    driver: bridge
