version: "3.9"

services:
  caddy:
    image: docker.io/caddy:2
    container_name: caddy
    restart: unless-stopped
    network_mode: "host" # needed for rootless Caddy to bind 80/443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data:/data
    command: ["caddy", "run", "--config", "/etc/caddy/Caddyfile", "--watch"]
