version: "3.9"

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SERVER_HTTP_PORT=3000
      - GF_SERVER_ROOT_URL=https://grafana.khalil.bounceme.net
      - GF_SERVER_SERVE_FROM_SUB_PATH=false
    volumes:
      - ./data:/var/lib/grafana:U


    networks:
      - proxy

networks:
  proxy:
    external: true
